h1 {
z-index: 2;
position: absolute;
width: 291px;
height: 78px;
left: 20px;
top: 290px;
right: 500px;

font-family: 'Press Start 2P', cursive;
font-style: normal;
font-weight: 300;
font-size: 50px;
line-height: 65px;
color: #06FF01;

}
button{
/* Rectangle 3 */
z-index: 2;
position: absolute;
width: 250px;
height: 30px;
left: 20px;
top: 500px;
background: #020202;
border: 1px solid #06FF01;
box-sizing: border-box;
color: #06FF01;
font-family: 'Press Start 2P', cursive;
}
.console{
/* z-index: 1; */
display: flex;
flex-direction: column;
position: relative;
width: 400px;
height: 650px;

background: #020202;
mix-blend-mode: hard-light;
border: 2px solid #020202;
box-sizing: border-box;
}
img{
  position: absolute;
  z-index: 2;
  left: 100px;
  top: 25px;
}

input{
  font-family: 'Inconsolata', monospace;
  color: #06FF01;
  align-self: flex-end;
  width: 97%;
  height: 5%;
  margin-top: 2px;
  align-items: flex-end;
  background: #020202;
  border: 0.5px solid #020202;
  font-size: 15px;
  padding:5px;
}
.consoleLog{
  top: 25px;

  color: #06FF01;
  margin-top: 425px;
  align-self: center;
  width: 100%;
  background: #020202;
  border: 1px solid #020202;
  font-size: 15px;
}
.commands{
  font-family: 'Inconsolata', monospace;

  width: 100%;
  height: 95%;
  padding: 0;

  display: flex;
  flex-direction: column-reverse;
}
p {
  color: #06FF01;

  margin: 0;
}

.matrix-gif {
  /* z-index: 1; */
  width: 396px;
  height: 613.7px;
  left: 0px;
  top: 1px;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}
